body {
 background-color: gray;
 padding: 100px;
}
h1 {
 color: white;
 font-family: verdana;
}
p {
 color: white;
 font-family: verdana;
}
h2 {
 color: white;
 font-family: verdana;
}
ul {
 color: white;
 font-family: verdana;
 float: left;
 margin: 25px;
 width: 50;
 padding: 10px;
 
}

