body {
 background-color: gray;
 margin: auto;
}
h1 {
 color: white;
 font-family: verdana;
}
p {
 color: white;
 font-family: verdana;
}
h2 {
 color: white;
 font-family: verdana;
}
ul {
 color: white;
 font-family: verdana;
}
div {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: black;
